<div fxLayout="column" fxLayoutAlign="space-between">

  <div fxLayout="row" fxLayoutAlign="space-around">
    <div fxFlex="40">Gruppe von:</div>
    <div fxFlex="60">
      <mat-form-field>
        <mat-label>Gruppe</mat-label>
        <mat-select [formControl]="groupFrom" (selectionChange)="copySelection($event)">

          <mat-option *ngFor="let group of data.groups" [value]="group.index">{{group.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around">
    <div fxFlex="40">Beziehungs-Typ:</div>
    <div fxFlex="60">
      <mat-form-field>
        <mat-label>Beziehung</mat-label>
        <mat-select [formControl]="relationType">

          <mat-option *ngFor="let relationType of relationTypes" [value]="relationType.id">{{relationType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around">
    <div fxFlex="40">Hinweis zu Beziehung:</div>
    <div fxFlex="60">
      <input mat-input [formControl]="relationHint"/>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around">
    <div fxFlex="40">Nebenbeziehung:</div>
    <div fxFlex="60">
      <mat-checkbox [formControl]="subLine"></mat-checkbox>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around">
    <div fxFlex="40">Gruppe zu:</div>
    <div fxFlex="60">
      <mat-form-field>
        <mat-label>Gruppe</mat-label>
        <mat-select [formControl]="groupTo">

          <mat-option *ngFor="let group of data.groups" [value]="group.index">{{group.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null">Abbrechen</button>
    <button mat-button [mat-dialog-close]="buildResult()" cdkFocusInitial>Ok
    </button>
  </div>

</div>
