div#subheader {
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: #aabbee;
    overflow: hidden;
}

.button-row {
  display: table-cell;
}

.mat-raised-button {
  margin: 8px 8px 8px 0;
}

.mat-button {
  margin: 8px 8px 8px 0;
}