.marked {
  background-color: grey;
}

#content { height: 100%; overflow: auto; }

body {
margin: 0px;
padding: 100px 0px 0px 0px;
overflow: hidden; /* overflow: hidden prevents full scrollbar in IE */
}

div#header {
/* you must include "div" for IE */
position: absolute;
top:0px;
left: 0px;
width: 100%;
height: 50px;
background-color: #aabbff;
overflow: hidden;
}
