<div fxLayout="column" fxLayoutAlign="space-between">

  <div fxLayout="row" fxLayoutAlign="space-around">
    <div fxFlex="40">Name Block:</div>
    <div fxFlex="60">
      <input mat-input [(ngModel)]="blockName">
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around">
    <div fxFlex="40">Alle unterschiedlich:</div>
    <div fxFlex="60">
      <mat-checkbox [(ngModel)]="noDuplicates"></mat-checkbox>    </div>
  </div>

   <div *ngIf="groups" fxLayout="column" fxLayoutAlign="space-between">
      <div fxLayout="row" fxLayoutAlign="space-around">
        <div fxFlex="40">Gruppe:</div>
        <div fxFlex="40">
          <mat-form-field>
            <mat-label>Gruppe</mat-label>
            <mat-select [(ngModel)]="groupId">

              <mat-option *ngFor="let group of groups" [value]="group.index">{{group.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
          <div fxFlex="40">
          <mat-checkbox [(ngModel)]="excludeSameShortNames"></mat-checkbox>
          </div>
          </div>
      </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null">Abbrechen</button>
    <button mat-button [mat-dialog-close]="{blockName: blockName, noDuplicates: noDuplicates, groupId: groupId, excludeSameShortNames:excludeSameShortNames}" cdkFocusInitial>Ok</button>
  </div>

</div>
